In [1]:
import pandas as pd

In [6]:
df = pd.read_excel('data/testedatasetv2b.xlsx')
df.fillna(0, inplace=True)

df_copas = pd.read_excel('data/copas_mr.xlsx')
df_copas.fillna(0, inplace=True)

df_season = pd.concat([df, df_copas])
df_season.fillna(0, inplace=True)

In [10]:
df_season

,DATA,COMPETIÇÃO,RODADA,PARTIDA,PLAYER,POSIÇÃO,TIME,V,E,D,...,GC,AMA,AZUL,VER,PP,GS,DD,DP,FALTA,PTS
0,2024-01-22,LIGA,1,1,Courtois,GK,PRETO,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,-9.0
1,2024-01-22,LIGA,1,1,Paulo Rafael,ATA,PRETO,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.0
2,2024-01-22,LIGA,1,1,Diego Maradona,MEI,PRETO,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.0
3,2024-01-22,LIGA,1,1,Thiago,MEI,PRETO,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.0
4,2024-01-22,LIGA,1,1,Pentelho,ATA,PRETO,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,2024-04-01,COPA,1,8,Braga,MEI,AMARELO,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,150.0
92,2024-04-01,COPA,1,8,Xande,MEI,AMARELO,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,150.0
93,2024-04-01,COPA,1,8,Emanuel,MEI,AMARELO,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,150.0
94,2024-04-01,COPA,1,8,Dolfo,MEI,AMARELO,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,150.0
95,2024-04-01,COPA,1,8,Marcello,MEI,AMARELO,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,150.0

In [11]:
df_season

,DATA,COMPETIÇÃO,RODADA,PARTIDA,PLAYER,POSIÇÃO,TIME,V,E,D,...,GC,AMA,AZUL,VER,PP,GS,DD,DP,FALTA,PTS
0,2024-01-22,LIGA,1,1,Courtois,GK,PRETO,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,-9.0
1,2024-01-22,LIGA,1,1,Paulo Rafael,ATA,PRETO,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.0
2,2024-01-22,LIGA,1,1,Diego Maradona,MEI,PRETO,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.0
3,2024-01-22,LIGA,1,1,Thiago,MEI,PRETO,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.0
4,2024-01-22,LIGA,1,1,Pentelho,ATA,PRETO,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,2024-04-01,COPA,1,8,Braga,MEI,AMARELO,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,150.0
92,2024-04-01,COPA,1,8,Xande,MEI,AMARELO,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,150.0
93,2024-04-01,COPA,1,8,Emanuel,MEI,AMARELO,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,150.0
94,2024-04-01,COPA,1,8,Dolfo,MEI,AMARELO,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,150.0
95,2024-04-01,COPA,1,8,Marcello,MEI,AMARELO,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,150.0

In [9]:



# Carregar os critérios de pontuação do arquivo Excel (ou você já pode ter esses valores diretamente no código)
criterios = {
    'ATA': {'V': 7, 'E': 0, 'D': -4, 'GOL': 7, 'ASS': 4, 'STG': 2, 'GC': -10, 'AMA': -4, 'AZUL': -8, 'VER': -16, 'PP': -10, 'GS': 0, 'DD': 0, 'DP': 0},
    'MEI': {'V': 7, 'E': 0, 'D': -4, 'GOL': 8.5, 'ASS': 5, 'STG': 2.5, 'GC': -10, 'AMA': -4, 'AZUL': -8, 'VER': -16, 'PP': -10, 'GS': 0, 'DD': 0, 'DP': 0},
    'ZAG': {'V': 7, 'E': 0, 'D': -4, 'GOL': 10, 'ASS': 6, 'STG': 3, 'GC': -10, 'AMA': -4, 'AZUL': -8, 'VER': -16, 'PP': -10, 'GS': 0, 'DD': 0, 'DP': 0},
    'GK':  {'V': 6, 'E': 0, 'D': -3, 'GOL': 16, 'ASS': 10, 'STG': 4, 'GC': -10, 'AMA': -4, 'AZUL': -8, 'VER': -16, 'PP': -10, 'GS': -5, 'DD': 5, 'DP': 20}
}

# Função para calcular os pontos com base na posição e nos critérios fornecidos
def calcular_pontos(row):
    posicao = row['POSIÇÃO']
    pontos = (row['V'] * criterios[posicao]['V'] +
              row['E'] * criterios[posicao]['E'] +
              row['D'] * criterios[posicao]['D'] +
              row['GOL'] * criterios[posicao]['GOL'] +
              row['ASS'] * criterios[posicao]['ASS'] +
              row['STG'] * criterios[posicao]['STG'] +
              row['GC'] * criterios[posicao]['GC'] +
              row['AMA'] * criterios[posicao]['AMA'] +
              row['AZUL'] * criterios[posicao]['AZUL'] +
              row['VER'] * criterios[posicao]['VER'] +
              row['PP'] * criterios[posicao]['PP'] +
              row['GS'] * criterios[posicao]['GS'] +
              row['DD'] * criterios[posicao]['DD'] +
              row['DP'] * criterios[posicao]['DP'])
    return pontos

# Aplicando a função a cada linha do DataFrame
df['PTS'] = df.apply(calcular_pontos, axis=1)

In [17]:

# Carregar os critérios de pontuação do arquivo Excel (ou você já pode ter esses valores diretamente no código)
criterios = {
    'ATA': {'V': 7, 'E': 0, 'D': -4, 'GOL': 7, 'ASS': 4, 'STG': 2, 'GC': -10, 'AMA': -4, 'AZUL': -8, 'VER': -16, 'PP': -10, 'GS': 0, 'DD': 0, 'DP': 0},
    'MEI': {'V': 7, 'E': 0, 'D': -4, 'GOL': 8.5, 'ASS': 5, 'STG': 2.5, 'GC': -10, 'AMA': -4, 'AZUL': -8, 'VER': -16, 'PP': -10, 'GS': 0, 'DD': 0, 'DP': 0},
    'ZAG': {'V': 7, 'E': 0, 'D': -4, 'GOL': 10, 'ASS': 6, 'STG': 3, 'GC': -10, 'AMA': -4, 'AZUL': -8, 'VER': -16, 'PP': -10, 'GS': 0, 'DD': 0, 'DP': 0},
    'GK':  {'V': 6, 'E': 0, 'D': -3, 'GOL': 16, 'ASS': 10, 'STG': 4, 'GC': -10, 'AMA': -4, 'AZUL': -8, 'VER': -16, 'PP': -10, 'GS': -5, 'DD': 5, 'DP': 20}
}

# Função para calcular os pontos com base na posição e nos critérios fornecidos
def calcular_pontos(row):
    posicao = row['POSIÇÃO']
    pontos = (row['V'] * criterios[posicao]['V'] +
              row['E'] * criterios[posicao]['E'] +
              row['D'] * criterios[posicao]['D'] +
              row['GOL'] * criterios[posicao]['GOL'] +
              row['ASS'] * criterios[posicao]['ASS'] +
              row['STG'] * criterios[posicao]['STG'] +
              row['GC'] * criterios[posicao]['GC'] +
              row['AMA'] * criterios[posicao]['AMA'] +
              row['AZUL'] * criterios[posicao]['AZUL'] +
              row['VER'] * criterios[posicao]['VER'] +
              row['PP'] * criterios[posicao]['PP'] +
              row['GS'] * criterios[posicao]['GS'] +
              row['DD'] * criterios[posicao]['DD'] +
              row['DP'] * criterios[posicao]['DP'])
    return pontos

# Aplicando a função a cada linha do DataFrame
df['PTS'] = df.apply(calcular_pontos, axis=1)

In [66]:
df_main = pd.read_excel('data/testedatasetv2b.xlsx')
df_main['MES'] = df_main['DATA'].dt.month

# Dicionário para mapear o número do mês para o nome do mês
meses = {
    1: 'Janeiro',
    2: 'Fevereiro',
    3: 'Março',
    4: 'Abril',
    5: 'Maio',
    6: 'Junho',
    7: 'Julho',
    8: 'Agosto',
    9: 'Setembro',
    10: 'Outubro',
    11: 'Novembro',
    12: 'Dezembro'
}

# Criar uma nova coluna 'mes_extenso' usando o mapeamento do dicionário
df_main['mes_extenso'] = df_main['MES'].map(meses)

In [67]:
df_main = df_main.groupby(['MES','POSIÇÃO','PLAYER']).agg({'PTS':'sum'}).sort_values(['MES','POSIÇÃO','PTS'], ascending=[True, True, False])

In [69]:
df_main.to_excel('mvps.xlsx')